body {
  cursor: none !important;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none !important ;
}

.cursor_default_inner {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(10, 27, 16, 2.5);
  border: 2px solid #d5a54e;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.cursor_trace_inner {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.002s ease-in-out;
}

.cursor_active .cursor_trace_inner {
  transform: scale(0.5) translate(-100%, -100%);
  transition: transform 0.3s ease;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  20% {
    transform: scale(3);
    opacity: 0.5;
  }
  100% {
    transform: scale(6);
    opacity: 0;
  }
}
.ripple {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d5a54e;
  animation: ripple 0.5s ease;
  animation-fill-mode: forwards;
}

/* Hold Page */

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #521714;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.preloader_btn {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  color: #d5a54e;
  background-color: rgb(30, 64, 41);
  margin-top: -60px;
  margin-left: -60px;
  cursor: pointer;
}

.preloader_btn_hold {
  font-size: 19px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: normal;
}

.hidden-area {
  display: none;
  opacity: 0;
}

/* circle */
.circle {
  position: absolute;
  display: inline-block;
  width: 350px;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.rectangle {
  position: absolute;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

#circle-1 {
  top: -100px;
  left: -130px;
}

#circle-2 {
  bottom: 5vh;
  right: -230px;
}

#rectangle-1 {
  width: 250px;
  height: 35px;
  top: 20vh;
  left: 300px;
  transform: rotate(125deg);
}

#rectangle-2 {
  width: 220px;
  height: 75px;
  top: 20vh;
  right: 300px;
  transform: rotate(45deg);
}
#rectangle-3 {
  width: 65px;
  height: 75px;
  bottom: 15vh;
  right: 300px;
  transform: rotate(140deg);
}

#rectangle-4 {
  width: 150px;
  height: 50px;
  bottom: 25vh;
  right: 350px;
  transform: rotate(110deg);
}

#rectangle-5 {
  width: 210px;
  height: 100px;
  bottom: 20vh;
  left: 300px;
  transform: rotate(35deg);
}

.textWrap {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #d5a54e;
  font-family: serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
