body {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gaebongBank_contents {
  min-height: 100%;
}

.intro_main {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-bottom: 140px;
}

.main_img {
  position: relative;
  top: 0;
  background-size: contain;
}

.main_img img {
  width: 320px;
  margin: 140px auto 0;
}

.main_txt {
  margin: 60px auto 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.main_txt .top {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.joinUs_text {
  margin-top: 70px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: rgb(114, 124, 255);
}
#down-arrow-icon {
  padding-top: 1rem;
  width: 33px;
  animation: upAndDown 1.5s infinite;
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#list-item-wrapper {
  width: 670px;
  margin: 0 auto;
  font-size: 48px;
  text-align: center;
  line-height: 1.1;
  font-weight: 600;
  color: black;
}

.list-item {
  display: inline;
  position: relative;
}

.emoji {
  transition: opacity 0.1s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0.1;
}

.list-item#on .emoji {
  opacity: 1;
}

.list-item#on {
  opacity: 1;
  color: white;
}

.panel1 {
  position: relative;
}

#panel1-img {
  margin: 0 auto;
  max-width: 766px;
  max-height: 375px;
  min-height: 320px;
  height: 100%;
  position: relative;
}

#money-img {
  position: absolute;
  max-width: 375px;
  min-width: 320px;
  width: 100%;
  left: -300px;
  top: -50px;
  transition: transform 0.1s ease-in-out;
}

/*----------video--------------*/
#video-section {
  margin-bottom: 1000px;
}
#video {
  display: block;
  margin: 0 auto;
  height: 350px;
}

/*----------video_text--------------*/
.panel2_text {
  padding-top: 3rem;
  position: relative;
  width: 315px;
  height: 235px;
  margin: 0 auto;
}

.panelText {
  position: absolute;
  transition: opacity 0.5s ease, transform 1s ease;
  width: 100%;
}

.panelText.right {
  text-align: right;
}

.panelText.left {
  text-align: left;
  bottom: 0; /* 필요에 따라 위치 조정 */
  left: 0;
}

.text_title {
  margin-bottom: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.text_description {
  color: lightgray;
  line-height: 1.5;
}

/* bank-beyond-wrapper */
