body {
  margin: 0;
  padding: 2rem;
  background-color: lightgray;
}

.toDoList_container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 100vh;
  padding: 1rem;
}

.taskArea {
  border: 1px solid lightgray;
  margin-top: 2rem;
}
.manuTabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.manuTap {
  padding: 1em;
  cursor: pointer;
}

#underLine {
  height: 4px;
  background-color: pink;
  position: absolute;
  left: 0;
  top: 50px;
  width: 50px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.taskDone {
  text-decoration: line-through;
}
